<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} Comment Detail</title>
</head>

<body>
    <h1>Comment Detail</h1>

    <ul>
       <li>{{comment.comment}}</li>
       <ul>
            <li>&rarr; {{comment.answer}}</li>
        </ul>
    </ul>

    {{#if isAdmin}}
    <form id="answer-form" action="/storecomment/commentDetail" method="POST">
        <lable for="answer">Owner Answer:</lable>
        <input type="text" name="answerInput" id="answerInput">

        <button type="submit">Add answer</button>
    </form>
    <script src="/public/js/front_end_validation.js"></script>
</body>
