<nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="/home">{{name}}</a>
         <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <a href="/profile" id="avatar">
            <img src="/public/images/users/{{avatarId}}" alt="Avatar" width="30" height="30">
        </a>
</nav>