<nav>
    <a href="/register">Sign Up</a>

</nav>
<div class="container">
    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form" action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{email}}" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{password}}" required>

            <button type="submit">Login</button>
        </form>
        <ul class="errorContainer" id="errorContainer">
            {{#if hasErrors}}
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
            {{/if}}
        </ul>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
</div>

<script src="/public/js/front_end_validation.js"></script>
