<nav>
    <a href="/home">Home</a>

</nav>
<div class="container">
    <form id="password-change-form" action="/password" method="POST">
        <h2>Password Change</h2>

        <label for="originalPassword">Original Password:</label>
        <input type="password" id="originalPassword" name="originalPassword" value="{{originalPassword}}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{password}}" required>

        <label for="comfirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" value="{{confirmPassword}}" required>

        <button type="submit">Change Password</button>
    </form>
    <ul class="errorContainer" id="errorContainer">
        {{#if hasErrors}}
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
        {{/if}}
    </ul>
</div>

<script src="/public/js/front_end_validation.js"></script>