<!-- Yaxi for product-->
<h1>Products List</h1>

<ol>
          {{#each allProducts}}
          <li>
          {{this}}
          </li>
          {{/each}}
</ol>
{{#if product}}
<div>
        <p>{{product}}</p>  
</div>
{{/if}}


{{#if hasError}}
<div>
          <p>{{error}}</p>
</div>
{{/if}}
<a href="/singleProduct"></a>
