<p>Store</p>
<button id="store_review" name="store_review">Store Review</button>
<button id="store_edit" name="store_edit" hidden>EDIT</button>

<h1>The Products of Store</h1>
<div class="products-container">
  <ul>
    {{#each storeProducts}}
      <li class="product">
        <p>Product Name: {{this.productName}}</p>
        <p><img src = "/public/images/products/{{this.product_image}}" alt="Image" width="50" height="50"></p>
        <p>Price: ${{this.productPrice}}</p>
        <p>Posted Date: {{this.posted_date}}</p>
      </li>
    {{/each}}
  </ul>
</div>
